In [15]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

driver = webdriver.Chrome()
data = []

price_ranges = ["BELOW10K", "BELOW20K", "BELOW30K", "BELOW40K", "BELOW50K", "ABOVE50K"]

for price in price_ranges:
    page = 1
    while True:
        url = f"https://www.collegetuitioncompare.com/college-search-by-tuition/?range={price}&type=public&level=4-year-colleges&page={page}"
        driver.get(url)
        time.sleep(2)
        
        rows = driver.find_elements(By.CSS_SELECTOR, "#comparison-table tbody tr")
        if not rows:
            break
        
        for row in rows:
            try:
                th = row.find_element(By.TAG_NAME, "th")
                name = th.find_element(By.TAG_NAME, "a").text.strip()
                cols = row.find_elements(By.TAG_NAME, "td")
                if len(cols) >= 6:
                    sat_act_score = cols[3].get_attribute("innerText").replace("\n", " ").strip()
                    data.append({
                        "School Name": name,
                        "In-State Tuition": cols[0].text.strip(),
                        "Out-of-State Tuition": cols[1].text.strip(),
                        "Acceptance Rate": cols[2].text.strip(),
                        "SAT/ACT Scores": sat_act_score,
                        "Student Population": cols[4].text.strip(),
                        "Graduation Rate": cols[5].text.strip()
                    })
            except:
                continue
        
        page += 1

driver.quit()
df = pd.DataFrame(data)
df.to_csv("college_tuition_data.csv", index=False)
df.head()

,School Name,In-State Tuition,Out-of-State Tuition,Acceptance Rate,SAT/ACT Scores,Student Population,Graduation Rate
0,Glendale Community College,"$2,358","$8,959",-,-,"13,480",14%
1,GateWay Community College,"$2,358","$8,959",-,-,"5,123",20%
2,Dine College,"$1,410","$1,410",-,-,"1,836",5%
3,Rio Salado College,"$2,358","$8,958",-,-,"18,631",4%
4,Yavapai College,"$2,838","$9,344",-,-,"7,200",32%